.slider{
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slides{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.slider img{
  display: none;
}
img.display{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  color: white;
  background-color: hsla(0, 0%, 0%, 0.457);
  border: none;
}
#prevbtn{
left: 0;
}
#nextbtn{
right: 0;
}
@keyframes fade {
  from{
    opacity: .5;
  }
  to{
    opacity: 1;
  }
  
}